<form #loginForm="ngForm" (ngSubmit)="handelRigester(loginForm.value)">
  <div class="main">

    <div class="input-fields">
      <input name="email" ngModel placeholder="Email" id="email" type="email" class="input-field" />
    </div>
    <div class="input-fields">
      <input name="password" ngModel placeholder="Password" id="password" type="password" class="input-field" />
    </div>
    <button (click)="showData()">
      Login</button>
    <button  (click)="onLogout()">
      logout
    </button>
  </div>
</form>
